import(stats, mvtnorm, gaussquad)

importFrom(nlme, fdHess)

export(
    specify_model, 
    fill_matrices,
    free_parameters,
    fill_model,
    em
    )

S3method(simulate, lmsFilled)
S3method(summary, emRes)
S3method(print, summary.emRes)
S3method(logLik, emRes)
S3method(anova, emRes)
S3method(AIC, emRes)
S3method(coef, emRes)
S3method(as.data.frame, lms)
S3method(as.data.frame, stemm)
S3method(as.data.frame, nsemm)

